.sidenav {
    background-color: #006978;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav mat-icon {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}