<mat-card>
    <mat-card-title>Nova categoria</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da categoria" [(ngModel)]="category.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="category.description" name="description">
        </mat-form-field>
    </form>
    <button mat-stroked-button (click)="cancel()">Voltar</button>
    <button mat-stroked-button (click)="createCategory()" class="btn-action">Salvar</button>
</mat-card>