form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    color: #006978;
}
.btn-action {
    color: #fff;
    background-color: #006978
}

section {
    margin: 20px 0px 20px 0px
}
