<mat-card>
    <mat-card-title>Nova inscrição</mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Estudante</mat-label>
            <mat-select [(value)]="enrollments.students">
                <mat-option *ngFor="let student of students" [value]="student.id" ngDefaultControl>
                    {{student.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <mat-select [(value)]="enrollments.courses">
                <mat-option *ngFor="let course of courses" [value]="course.id" ngDefaultControl>
                    {{course.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-stroked-button (click)="cancel()">Voltar</button>
    <button mat-stroked-button (click)="createEnrollment()" class="btn-action">Salvar</button>
</mat-card>