<mat-card>
    <mat-card-title>Excluir categoria</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da categoria" [value]="category.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [value]="category.description" name="description" disabled>
        </mat-form-field>
    </form>
    <button mat-stroked-button (click)="cancel()">Voltar</button>
    <button mat-stroked-button (click)="deleteCategory()" class="btn-action">Excluir</button>
</mat-card>