<mat-card>
    <mat-card-title>Novo curso</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do curso" [(ngModel)]="course.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="course.description" name="description">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select [(value)]="course.category">
              <mat-option *ngFor="let category of categories" [value]="category.id" ngDefaultControl>
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
    <button mat-stroked-button (click)="cancel()">Voltar</button>
    <button mat-stroked-button (click)="createCourse()" class="btn-action">Salvar</button>
</mat-card>